.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-image {
  height: 85px;
}

.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    order: 2;
    height: 400px;
  }

  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .site-list {
    width: 570px;
  }

  .user-list {
    width: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;
  }

  .main-nav__wrapper {
    width: 960px;
  }

  .site-list {
    width: 780px;
  }

  .user-list {
    width: 160px;
  }
}

